body {
    background-color: #faebeb;
    color: #7681b3;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 6em;
    margin-left: 6%;
    margin-top: 0%;
    margin-right: 6%;
    margin-bottom: 0%;
}

h4 {
    font-size: 3em;
    margin-left: 6%;
    margin-top: 0%;
    margin-right: 6%;
    margin-bottom: 0%;
}

p {
    font-size: 1em;
    margin-left: 8%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 6%;
}
.first_cntainer{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
.second_container{
    background-color:thistle;
    height: 100%;
    width: 100%;
}