body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 0%;
    margin-top: 0%;
}

h1 {
    background-color: #5d2bd3;
    color: #ffffff;
    font-size: 6em;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    padding-left: 6.5%;
    margin-bottom: 0%;
    padding-right: 1%;
    display: block;
    position: relative;
}

h4.topper {
    background-color: #b9b2c9;
    color: #474747;
    font-size: 3em;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-left: 7%;
    padding-right: 0%;
    display: flex;
}

p.body {
    color: #595959;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 12%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 6%;
    display: inline;


}

.tajmahal {

    border-radius: 15px;
    height: 250px;
    width: 300px;
    margin-left: 8%;
    filter: drop-shadow(2px 5px 10px black);
}

.mahabalipuram {
    border-radius: 15px;
    height: 250px;
    width: 300px;
    margin-left: 8%;
    filter: drop-shadow(2px 5px 10px black);
    position:absolute;
}
a:hover{
   opacity: 75%;; 
}