body{
    background-color: teal;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
h1{
    font-size: 10em;
}
h3{
    font-size: 5em;
}
p{
    font-size: 3em;
}
                                                