body {
    background-color: #ffffff;

    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1 {
    background-color: #5d2bd3;
    color: #ffffff;
    font-size: 6em;
    margin-left: 0%;
    margin-top: 100%;
    margin-right: 5%;
    padding-left: 6.5%;
    margin-bottom: 0%;
    padding-right: 10%;
    display: inline;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;
}

h4.top {
    background-color:rgb(189, 140, 15);
    color: #ffffff;
    font-size: 3em;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-left: 7%;
}

p.body {
    color: #595959;
    font-size: 1em;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-right: 6%;
}
.banner{
    border-left-width: 10px;
    width: 650px;
    height: auto;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
.empty{
    background-color: goldenrod;
    font-size: 3em;
}
