body {
    background-color: #fcd9d9;
    font-family: 'Open Sans', sans-serif;
    color: #7681b3;
}

h1 {
    font-size: 6em;
    margin-left: 4%;
    margin-top: 0.5%;
    margin-right: 6%;
    margin-bottom: 0%;
}

h3 {
    font-size: 3em;
    margin-left: 6%;
    margin-top: 0.5%;
    margin-right: 6%;
    margin-bottom: 0%;
}

p {
    font-size: 1em;
    margin-left: 8%;
    margin-top: 0.5%;
    margin-right: 6%;
}